#main {
    display: grid;
    grid-template-columns: 30vw 70vw;
}

#home {
    background-color: rgb(225, 143, 143);
    width: 30vw;
    height: 100vh;
}

#chat {
    background-color: rgb(119, 119, 179);
    width: 70vw;
    height: 100vh;
}

.click {
    display: none;
}

@media only screen and (max-width: 500px) {
    #home {
        width: 100vw;
    }
    #chat {
        width: 100vw;
    }
    .click {
        display: block;
    }
}